<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aniversário da Bienal</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
     <header>
                    <nav>
                        <ul>
                            <li><a href="index.html">A Bienal</a></li>
                            <li><a href="sugestões.html">Sugestões</a></li>
                            <li><a href="agenda.html">Agenda</a></li>
                            <li><a href="#endereco">Como chegar</a></li>
                        </ul> 
                        <img src="imagens/logo.png" alt="imagens">
                        </nav>
                </header>
                <main>
                    <section id="secao01">
                     <div class="noticias">
                        <h2>Lorem ipsum dolor sit amet consectetur</h2>
                        <div class="pai">
                        <img src="imagens/imagem_01.jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                        </div>
                     </div>
                     <div class="noticias">
                       <h2>Lorem ipsum dolor sit amet consectetur</h2>
                       <div class="pai">
                        <img src="imagens/imagem_02 (1).jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                         </div>
                   </div>
                   <div class="noticias">
                      <h2>Lorem ipsum dolor sit amet consectetur</h2>
                      <div class="pai">
                        <img src="imagens/imagem_02.jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                   </div>
                     </div>
                   </section>

                    <section>
                    </section>
                    <section>
                    </section>
                    <aside>
                    </aside>
                </main>
                
                </body>
</html>