<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aniversário da Bienal</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
     <header>
                    <nav>
                        <ul>
                            <li><a href="index.html">A Bienal</a></li>
                            <li><a href="sugestões.html">Sugestões</a></li>
                            <li><a href="agenda.html">Agenda</a></li>
                            <li><a href="#endereco">Como chegar</a></li>
                        </ul> 
                        <img src="imagens/logo.png" alt="imagens">
                        </nav>
                </header>
                <main>
                    <section id="secao01">
                     <div class="noticias">
                        <h2>Lorem ipsum dolor sit amet consectetur</h2>
                        <div class="pai">
                        <img src="imagens/imagem_01.jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                        </div>
                     </div>
                     <div class="noticias">
                       <h2>Lorem ipsum dolor sit amet consectetur</h2>
                       <div class="pai">
                        <img src="imagens/imagem_02 (1).jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                         </div>
                   </div>
                   <div class="noticias">
                      <h2>Lorem ipsum dolor sit amet consectetur</h2>
                      <div class="pai">
                        <img src="imagens/imagem_02.jpg" alt="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id assumenda magnam nihil quam fugiat vel et expedita mollitia. Ipsum veritatis quas iste error laborum, molestiae beatae voluptatum. Est, ut minus?</p>
                   </div>
                     </div>
                   </section>
                   <div id="esquerda">
                    <section id="secao02">
                        <article id="miranha">
                            <img src="imagens/homem-aranha.jpg" alt="homem aranha lendo livro">
                            <div class="textos">
                               <h3>LOREM IPSUM</h3>
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa at similique sunt dolore itaque, inventore earum minima voluptatum amet exercitationem tenetur iste ipsam explicabo commodi eum voluptates ab sit?</p>
                            </div>
                         </article>
                            <div id="iguess">
                                <div class="blocos">
                                    <img src="imagens/img-red-01.png" alt="">
                                    <h3>LOREM IPSUM</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt modi enim expedita velit ipsa unde, nulla quaerat sequi debitis minus quo doloremque, beatae est accusantium aliquid odio suscipit in!</p>
                                    </div>
                                    <div class="blocos">
                                    <img src="imagens/img-red-02.png" alt="">
                                    <h3>LOREM IPSUM</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt modi enim expedita velit ipsa unde, nulla quaerat sequi debitis minus quo doloremque, beatae est accusantium aliquid odio suscipit in!</p>
                                    </div>
                                    <div class="blocos">
                                    <img src="imagens/img-red-03.png" alt="">
                                    <h3>LOREM IPSUM</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt modi enim expedita velit ipsa unde, nulla quaerat sequi debitis minus quo doloremque, beatae est accusantium aliquid odio suscipit in!</p>
                                    </div>
                                    <div class="blocos">
                                    <img src="imagens/img-red-04.png" alt="">
                                    <h3>LOREM IPSUM</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt modi enim expedita velit ipsa unde, nulla quaerat sequi debitis minus quo doloremque, beatae est accusantium aliquid odio suscipit in!</p>
                                    </div>
                            </div>
                    </section>
                             <aside>
                                    <h3>lorem ipsum</h3>
                                    <img src="imagens/img-aside.jpg" alt="livros sigmas">
                                    <p class="textos">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsa at similique sunt dolore itaque, inventore earum minima voluptatum amet exercitationem tenetur iste ipsam explicabo commodi eum voluptates ab sit?
                                        <a href="#" id="ORÇAMENTO">FAÇA UM ORÇAMENTO</a>
                                    </p>
                             </aside>
                    </div>
                </main>
                </body>
                <footer>
                    <p>&copy; 2023 Bienal. Todos os direitos reservados.</p>
                </footer>
</html>