<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Mundial</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <img src="img/logo.png" alt="Logo">
        <ul>
            <li><a href="#">Mundial</a></li>
            <li><a href="#">Videogame</a></li>
            <li><a href="#">Jogos</a></li>
            <li><a href="#">Competição</a></li>
        </ul>
         <img src="img/InstagramLogo.png" alt="Instagram">
    </nav>
    <main>
        <section>
         <img src="img/super-banner.jpg" alt="Super Banner" id="super">
        </section>
        <section id="sigma">
            <div class="noticias">
                <img src="img/img-01.jpg" alt="">
                <div class="texto">
                <h2>Tour da taça</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae unde dolor vero modi eius, fuga exercitationem distinctio quia architecto temporibus inventore, blanditiis ipsam quisquam suscipit nulla omnis, corporis similique cupiditate.</p>
                </div>
            </div>
            <div class="noticias">
                <img src="img/img-02.jpg" alt="">
                <div class="texto">
                <h2>Destaque</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae unde dolor vero modi eius, fuga exe rcitationem distinctio quia architecto temporibus inventore, blanditiis ipsam quisquam suscipit nulla omnis, corporis similique cupiditate.</p>
                </div>   
            </div>
            <aside>
              <img src="img/trofeu.jpg" alt="">  <br><br>
                <h2><a href="#" id="lin">Saiba Mais</a></h2>
            </aside>
        </section>
        <h1 id="XD">definição de grupos</h1>
        <section id="espa">
            <img src="img/grupos.jpg" alt="">
            <p id="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi rem id sit error, illum veniam sed. Sed voluptate a nisi praesentium perspiciatis autem dicta ea blanditiis cum, eum odio corrupti.</p> 
            <div class="noticias">
                <h1 class="nao">lorem ipsum</h1>
                <img src="img/estadio.jpg" alt="" class="nao"> 
            </div>
        </section>
        </div>
    </main>
 
</body>
<footer>
    <p>Copyright © 2024 Mundial. Todos os direitos reservados.</p>
</footer>
</html>